<div class="container web">
  <div class="row">
    <div class="col">
      <div class="call-to">
        <div class="header">
          <img src="../../../assets/tynassTripsLogo.jpg" alt="" />
          <h1>Tynass Trips <span>Beta version</span></h1>
        </div>
        <div>
          <p>
            Tynass Trips is a mobile application that provides our users with
            Storyline Trips based on real historical facts through Augmented
            Reality, users will be provided with a list of places that they will
            visit and be guided by our audio narrator and they will be able to
            see and interact with historical characters and models in the
            journey.
          </p>
          <div class="trailerButton">
            <img src="assets/play.svg" />
            <a
              class="text"
              href="https://youtu.be/0d9wJU8Tngw"
              target="_blank"
              style="text-decoration: none"
              >Watch Trailer</a
            >
          </div>
          <div class="download-container">Available Now On</div>
          <a
            href="https://play.google.com/store/apps/details?id=com.tynass.tynass&fbclid=IwAR2BZzp2mAPyDNUhoAAONHNgOa37aukgvfIPrPsfcTQmrz3D6Xwb_XpVAvc"
            target="_blank "
          >
            <img src="assets/PlaystoredownloadButton.svg" />
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="assets/tynassAppImgaeWeb.png" style="margin-left: 40%" />
    </div>
  </div>
</div>
<div class="container mobile">
  <div class="row">
    <div class="header">
      <img src="../../../assets/tynassTripsLogo.jpg" alt="" />
      <h1>Tynass Trips <span>Beta version</span></h1>
    </div>
    <div class="row" style="align-items: center">
      <div class="trailerButton">
        <img src="assets/play.svg" />
        <a
          class="text"
          href="https://www.youtube.com/watch?v=0d9wJU8Tngw"
          target="_blank "
          style="text-decoration: none"
          >Watch Trailer</a
        >
      </div>
      <img src="assets/tynassMobile.png" />
      <p>
        Tynass Trips is a mobile application that provides our users with
        Storyline Trips based on real historical facts through Augmented
        Reality, users will be provided with a list of places that they will
        visit and be guided by our audio narrator and they will be able to see
        and interact with historical characters and models in the journey.
      </p>
      <div class="download-container" style="text-align: center">
        Available Now On
        <a
          href="https://play.google.com/store/apps/details?id=com.tynass.tynass&fbclid=IwAR2BZzp2mAPyDNUhoAAONHNgOa37aukgvfIPrPsfcTQmrz3D6Xwb_XpVAvc"
          target="_blank "
        >
          <img
            src="assets/PlaystoredownloadButton.svg"
            style="width: 250px; margin-top: 10px"
          />
        </a>
      </div>
    </div>
  </div>
</div>
