<div class="container web">
  <div class="row">
    <div class="col">
      <div class="call-to">
        <div class="header">
          <img src="../../../assets/tynassTripsLogo.jpg" alt="" />
          <h1>Tynass Trips <span>Beta version</span></h1>
        </div>
        <div>
          <p>
            In the the deep heart of tunis in the old city within her narrow
            roads and busy markets lays a grave in the middle of the heart of
            the city lays a monument of death that has history and a story.
          </p>
          <div class="trailerButton">
            <img src="assets/play.svg" />
            <div class="text">Watch Trailer</div>
          </div>
          <div class="download-container">Available Now On</div>
          <img src="assets/PlaystoredownloadButton.svg" />
        </div>
      </div>
    </div>
    <div class="col">
      <img src="assets/tynassAppImgaeWeb.svg" style="margin-left: 40%" />
    </div>
  </div>
</div>
<div class="container mobile">
  <div class="row">
    <div class="header">
      <img src="../../../assets/tynassTripsLogo.jpg" alt="" />
      <h1>Tynass Trips <span>Beta version</span></h1>
    </div>
    <div class="row" style="align-items: center">
      <div class="trailerButton">
        <img src="assets/play.svg" />
        <div class="text">Watch Trailer</div>
      </div>
      <img src="assets/tynassMobile.svg" />
      <p>
        In the the deep heart of tunis in the old city within her narrow roads
        and busy markets lays a grave in the middle of the heart of the city
        lays a monument of death that has history and a story
      </p>
      <div class="download-container" style="text-align: center">
        Available Now On
        <img
          src="assets/PlaystoredownloadButton.svg"
          style="width: 250px; margin-top: 10px"
        />
      </div>
    </div>
  </div>
</div>
