<div class="container">
  <h1>Tynass Trips</h1>
  <h2>Privacy Policy</h2>
  <p>
    Votre vie privée est importante pour nous. La politique informatique de
    Tynass est de respecter votre vie privée concernant toute information que
    nous pouvons recueillir auprès de vous via nos voyages APP Tynass.
  </p>
  <p>
    Nous ne demandons des informations personnelles que lorsque nous en avons
    vraiment besoin pour vous fournir un service. Nous les collectons par des
    moyens justes et licites, avec votre connaissance et votre consentement.
    Nous vous expliquons également pourquoi nous les collectons et comment ils
    seront utilisés et ce sera généralement en suivant la progression de votre
    voyage et en créant votre profil.
  </p>
  <p>
    Nous ne conservons les informations collectées que le temps nécessaire pour
    vous fournir le service demandé. Nous protégerons les données que nous
    stockons par des moyens commercialement acceptables pour prévenir la perte
    et le vol, ainsi que l'accès, la divulgation, la copie, l'utilisation ou la
    modification non autorisés.
  </p>
  <h2>Connexions sociales tierces</h2>
  <p>
    Vous pouvez vous connecter à nos services Tynass en utilisant des connexions
    sociales tierces (par exemple, Google, Facebook, Play Store). Ces
    fournisseurs de connexion sociale partageront certaines données personnelles
    avec nous, comme décrit dans leurs avis de connexion ou dans leurs
    politiques de confidentialité, qui peuvent inclure des informations telles
    que votre nom, votre photo de profil, votre tranche d'âge, votre sexe et
    d'autres informations publiques. Nous vous encourageons à vérifier avant de
    vous connecter via le service applicable.
  </p>
  <h2>Données de localisation</h2>
  <p>
    Les services Tynass Trips fournissent des fonctionnalités qui nécessitent
    votre emplacement précis et l'utilisation de services de localisation sur
    votre appareil mobile via l'application afin que nous puissions être en
    mesure de vous guider et de vous donner les emplacements des lieux que vous
    visiterez pendant votre voyage.
  </p>
  <h2>Comment les données personnelles sont utilisées</h2>
  <ul>
    Tynass IT utilisera les données personnelles telles que décrites dans la
    présente politique et telles qu'elles vous sont divulguées dans les voyages
    Tynass, qui incluent aux fins suivantes :
    <li>
      Création de profil ou connexion à l'aide d'une connexion tierce comme
      mentionné précédemment
    </li>
    Enregistrement et suivi de vos réalisations et progrès de voyage
    <li>
      Vous tenir au courant des nouvelles fonctionnalités et fonctionnalités des
      services de l'application Tynass Trips, ainsi que d'autres nouvelles et
      informations sur les produits et services proposés par Tynass IT
    </li>
    <li>
      Vous recommander les commerces les plus proches (Restaurants, café, maison
      d'hôtes) à votre époque de voyage en utilisant votre emplacement au cas où
      vous auriez besoin de quoi que ce soit
    </li>

    <li>
      Répondre à vos commentaires et questions et fournir un service à la
      clientèle
    </li>
  </ul>
  <h2>Confidentialité des enfants</h2>
  <p>
    Ces Services ne s'adressent à personne de moins de 10 ans. Nous ne
    collectons pas sciemment d'informations personnellement identifiables auprès
    d'enfants de moins de 10 ans. Dans le cas où nous découvrons qu'un enfant de
    moins de 10 ans nous a fourni des informations personnelles, nous les
    supprimons immédiatement de nos serveurs. Si vous êtes un parent ou un
    tuteur et que vous savez que votre enfant nous a fourni des informations
    personnelles, veuillez nous contacter afin que nous puissions faire les
    actions nécessaires.
  </p>
  <h2>Modifications de cette politique de confidentialité</h2>
  <p>
    Nous pouvons mettre à jour notre politique de confidentialité de temps à
    autre. Ainsi, il vous est conseillé de consulter cette page périodiquement
    pour tout changement. Nous vous informerons de tout changement en publiant
    la nouvelle politique de confidentialité sur cette page.
  </p>
  <h2>Nous contacter</h2>
  <p>
    Si vous avez des questions ou des suggestions concernant notre politique de
    confidentialité, n'hésitez pas à nous contacter à
    <span>Contact@tynassit.com</span>
  </p>
</div>
