<div class="call-to">
  <div>
    <img src="../../../assets/tynassTripsLogo.jpg" alt="" />
    <h1>Tynass Trips</h1>
    <h2>Beta version</h2>
    <p>Taille : <span>150 MB</span></p>
    <h3>Juste pour clarifier</h3>
    <p>
      Nous vous avons fourni une version d'accès anticipé de notre application,
      c'est pourquoi vous la téléchargez depuis notre site Web et non depuis
      Play Store, mais nous vous assurons que vos données seront sécurisées et
      que la version APK ne vous nuira ni à votre appareil et nous assumerons
      l'entière responsabilité de tout problème de ce type. <br />
      Vous pouvez nous faire part de vos commentaires directement le dimanche 6
      à 11h30.
      <br />
      On se voit là-bas
    </p>
  </div>
</div>
<div
  class="footerdownload"
  style="
    position: fixed;
    bottom: 0%;
    width: 100%;
    z-index: 10;
    background-color: #fff;
  "
>
  <div class="center" style="text-align: center">
    <button class="special-btn bold-text special-color shadow-sm duplicate">
      Download Now
    </button>
    <a
      class="politiqueTynass"
      style="display: block; text-align: center; margin-top: 10px"
      href="/privacy"
      >Politique de confidentialité</a
    >
  </div>
</div>
